<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <form id="taskForm">
            <input type="text" id="taskInput" placeholder="Add a new task" required>
            <button type="submit">Add</button>
        </form>
        <div id="taskList" class="task-grid"></div> <!-- Ubah ul menjadi div dengan class task-grid -->
    </div>
    <script src="/js/script.js"></script>
</body>
</html>